
button{
width: 100px;
height: 100px;
border-radius: 50px;
border: 2px solid #422800;
  border-radius: 30px;
background-color: #fbeee0;
color: #422800;
font-size: 3rem;
font-weight: bold;
cursor: pointer;
}

button:hover{
background-color: #422800;
color: #fbeee0;
}

button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 80%, 67%);
}

body {
margin: 0; display: flex; justify-content: center;
align-items: center;
height: 100vh;
background-color: #fbeee0;
}
#calculator{
font-family: Arial, sans-serif;
background-color:
#fbeee0;
border-radius: 5px;
border: 10px solid #422800;
max-width: 500px;
overflow: hidden;
}


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #422800;
    color: #fbeee0;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#keys {
    padding: 25px;
}